<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.heavykick.MilkVRLauncher" android:versionCode="1" android:versionName="1.5" android:installLocation="internalOnly">
	<uses-sdk />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/Icon" android:label="MilkVRLauncher" />
</manifest>